h1
{
	color:red;
	text-align:center;
}
#Nonee
{
	color:purple;
}
#Cheeeeese
{
	color:purple;
}
#s1
{
	color:green;
}
#s2
{
	color:red;
}
#s3
{
	color:red;
}
#s4
{
	color:red;
}